.container{
border:2px solid black;
display:flex;
justify-content:center;
 align-items:center; 
height:98vh;

 flex-direction:column;
 
}
 .btn{
    background-color:#fff;
    outline:none;
     border:none; 
    box-shadow:0px -5px 10px grey;
    width:90px;
    height:50px;
    margin:10px;
    border-radius:5px;
} 
#stopwatch{
   font-size:100px;
   box-shadow:0px -5px 5px grey;
   /* color:white; */
   border:1px solid gainsboro;
   border-radius:5px;
   margin-bottom:20px;
   width:355px;
}
#btn1{
    background-color:green;
    color:white;
}
#btn2{
    background-color:fuchsia;
    color:white;
}
#btn3{
    background-color:blue;
    color:white;
}
.innerbox{
    height:150px;
    width:360px;
}
#btn1:active{
    background-color:yellowgreen;
}
#btn2:active{
    background-color:red;
}
#btn3:active{
    background-color:aqua;
}